USE [GHOST]
exec [_DeleteProcIfExists] 'SrvPr_PrintedDocsGet'
GO
CREATE PROCEDURE [WH1].[SrvPr_PrintedDocsGet]
@DOCS VARCHAR(MAX)
AS
SET NOCOUNT ON

DECLARE @WAREHOUSEPROC nvarchar(10)
SET @WAREHOUSEPROC='WH1'

/*
DECLARE @DOCS VARCHAR(MAX)
SET @DOCS = '0001077364/1#PackCase|0001077459/1#PackCase'
*/

if object_id('tempdb..#tmp') is not null drop table #tmp
SELECT 
	 ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS IDENT,
	 --cast(SUBSTRING(ITEM,1,CASE WHEN CHARINDEX('#',ITEM)>0 THEN CHARINDEX('#',ITEM)-1 ELSE 0 END) as varchar(500)) AS DOCNUMBER,
	 --cast(SUBSTRING(ITEM,CHARINDEX('#',ITEM)+1, LEN(ITEM)) as varchar(500)) AS REPORTNAME
	 CAST(SUBSTRING(ITEM,1,CASE WHEN CHARINDEX('#',ITEM)>0 THEN LEN(ITEM) - CHARINDEX('#',REVERSE(ITEM)) ELSE 0 END) as varchar(500)) AS DOCNUMBER,
	 CAST(SUBSTRING(ITEM,LEN(ITEM) - CHARINDEX('#',REVERSE(ITEM))+2, LEN(ITEM)) as varchar(500)) AS REPORTNAME
into #tmp
FROM PRD1.DBO.SPLITLIST(@DOCS,'|')

SELECT 
D.IDENT, 
ISNULL(SUM(CASE WHEN ISNULL(PL1.REPORTNAME,'')<>'' AND PL1.ORIGINAL = 1 AND PL1.PRINTFORMAT = 0 THEN PL1.PRINTAMOUNT ELSE 0 END),0) AS ORIGINALS, 
ISNULL(SUM(CASE WHEN ISNULL(PL1.REPORTNAME,'')<>'' AND PL1.ORIGINAL = 0 AND PL1.PRINTFORMAT = 0 THEN PL1.PRINTAMOUNT ELSE 0 END),0) AS COPIES, 
ISNULL(SUM(CASE WHEN ISNULL(PL1.REPORTNAME,'')<>'' AND PL1.ORIGINAL = 1 AND PL1.PRINTFORMAT = 1 THEN PL1.PRINTAMOUNT ELSE 0 END),0) AS ORIGINALSEXPORTPDF, 
ISNULL(SUM(CASE WHEN ISNULL(PL1.REPORTNAME,'')<>'' AND PL1.ORIGINAL = 0 AND PL1.PRINTFORMAT = 1 THEN PL1.PRINTAMOUNT ELSE 0 END),0) AS COPIESEXPORTPDF, 
ISNULL(SUM(CASE WHEN ISNULL(PL1.REPORTNAME,'')<>'' AND PL1.ORIGINAL = 1 AND PL1.PRINTFORMAT = 2 THEN PL1.PRINTAMOUNT ELSE 0 END),0) AS ORIGINALSEXPORTXLS, 
ISNULL(SUM(CASE WHEN ISNULL(PL1.REPORTNAME,'')<>'' AND PL1.ORIGINAL = 0 AND PL1.PRINTFORMAT = 2 THEN PL1.PRINTAMOUNT ELSE 0 END),0) AS COPIESEXPORTXLS 
FROM #tmp D
	 /*(SELECT 
		  ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS IDENT,
		  SUBSTRING(ITEM,1,CASE WHEN CHARINDEX('#',ITEM)>0 THEN CHARINDEX('#',ITEM)-1 ELSE 0 END) AS DOCNUMBER,
		  SUBSTRING(ITEM,CHARINDEX('#',ITEM)+1, LEN(ITEM)) AS REPORTNAME
	 FROM PRD1.DBO.SPLITLIST(@DOCS,'|')
	 ) D*/
    LEFT JOIN SrvPr_PRINTLOG PL1 WITH(NOLOCK) ON PL1.DOCNUMBER=D.DOCNUMBER AND PL1.REPORTNAME=D.REPORTNAME
GROUP BY D.IDENT ORDER BY D.IDENT 


GO
GRANT EXECUTE ON  [WH1].[SrvPr_PrintedDocsGet] TO [PUBLIC]

GO
exec [_CopyProcForAllSchemas] 'SrvPr_PrintedDocsGet'
