USE [GHOST]
GO

IF EXISTS (SELECT * 
    FROM INFORMATION_SCHEMA.TABLES 
   WHERE TABLE_SCHEMA = 'dbo' AND 
		 TABLE_NAME = 'SrvPr_REPORTS' )
DROP TABLE [dbo].[SrvPr_REPORTS]

GO
/****** Объект:  Table [dbo].[SrvPr_REPORTS]    Дата сценария: 02/18/2014 11:46:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SrvPr_REPORTS](
	[SERIALKEY] [int] IDENTITY(1,1) NOT NULL,
	[REPORTNAME] [varchar](100) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[REPORTCAPTION] [varchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[REPORTPATH] [varchar](1000) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[ORIGINAL] [int] NOT NULL CONSTRAINT [DF_SrvPr_REPORTS_ORIGINAL]  DEFAULT ((1)),
	[COPIES] [int] NOT NULL CONSTRAINT [DF_SrvPr_REPORTS_COPIES]  DEFAULT ((-1)),
	[ORIGINALEXPORTPDF] [int] NOT NULL CONSTRAINT [DF_SrvPr_REPORTS_EXPORTORIGINALPDF]  DEFAULT ((1)),
	[COPIESEXPORTPDF] [int] NOT NULL CONSTRAINT [DF_SrvPr_REPORTS_EXPORTCOPIESPDF]  DEFAULT ((-1)),
	[ORIGINALEXPORTXLS] [int] NOT NULL CONSTRAINT [DF_SrvPr_REPORTS_EXPORTORIGINALXLS]  DEFAULT ((1)),
	[COPIESEXPORTXLS] [int] NOT NULL CONSTRAINT [DF_SrvPr_REPORTS_EXPORTCOPIESXLS]  DEFAULT ((-1)),
	[AUTOCOPY] [bit] NOT NULL, --АВТОМАТИЧЕСКАЯ ПЕЧАТЬ КОПИЙ ЕСЛИ НЕДОСТУПЕН ОРИГИНАЛ
 CONSTRAINT [PK_SrvPr_REPORTS] PRIMARY KEY CLUSTERED 
(
	[REPORTNAME] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


insert into [GHOST].[dbo].[SrvPr_REPORTS]([REPORTNAME],[REPORTCAPTION],[REPORTPATH],[ORIGINAL],[COPIES],[ORIGINALEXPORTPDF],[COPIESEXPORTPDF],[ORIGINALEXPORTXLS],[COPIESEXPORTXLS],[AUTOCOPY]) values ('PackCase','Ярлык на короб','/Ghost/All/PackCase',1,-1,0,0,0,0,1)
insert into [GHOST].[dbo].[SrvPr_REPORTS]([REPORTNAME],[REPORTCAPTION],[REPORTPATH],[ORIGINAL],[COPIES],[ORIGINALEXPORTPDF],[COPIESEXPORTPDF],[ORIGINALEXPORTXLS],[COPIESEXPORTXLS],[AUTOCOPY]) values ('PackCaseList','Упаковочный лист на короб','/Ghost/All/PackCaseList',1,-1,0,0,0,0,1)
insert into [GHOST].[dbo].[SrvPr_REPORTS]([REPORTNAME],[REPORTCAPTION],[REPORTPATH],[ORIGINAL],[COPIES],[ORIGINALEXPORTPDF],[COPIESEXPORTPDF],[ORIGINALEXPORTXLS],[COPIESEXPORTXLS],[AUTOCOPY]) values ('PackCaseZebra','Ярлык на короб зебра','/Ghost/All/PackCaseZebra',1,-1,0,0,0,0,1)

GO
SET ANSI_PADDING OFF

GO
GRANT SELECT ON [dbo].[SrvPr_REPORTS] TO [public];