USE [GHOST]
GO
IF EXISTS (SELECT * 
    FROM INFORMATION_SCHEMA.TABLES 
   WHERE TABLE_SCHEMA = 'WH1' AND 
		 TABLE_NAME = 'SrvPr_PRINTLOG' )
DROP TABLE [WH1].[SrvPr_PRINTLOG]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WH1].[SrvPr_PRINTLOG](
	[SERIALKEY] [int] IDENTITY(1,1) NOT NULL,
	[REPORTNAME] [varchar](100) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[DOCNUMBER] [varchar](100) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[ORIGINAL] [bit] NOT NULL,
	[PRINTAMOUNT] [int] NOT NULL,
	[PRINTFORMAT] [int] NOT NULL,  --0 для печати,1 для PDF, 2 для XLS,
	[FORCEDCOPY] [bit] NOT NULL,
	[ADDWHO] [varchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[ADDDATE] [datetime] NULL CONSTRAINT [DF_SrvPr_PRINTLOG_ADDDATE]  DEFAULT (getdate()),
	[EDITWHO] [varchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[EDITDATE] [datetime] NULL CONSTRAINT [DF_SrvPr_PRINTLOG_EDITDATE]  DEFAULT (getdate())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE CLUSTERED INDEX [PK_SrvPr_PRINTLOG] ON [WH1].[SrvPr_PRINTLOG] 
(
	[SERIALKEY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SrvPr_PRINTLOG] ON [WH1].[SrvPr_PRINTLOG] 
(
	[REPORTNAME] ASC,
	[DOCNUMBER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
GRANT SELECT ON [WH1].[SrvPr_PRINTLOG] TO [public];
GRANT INSERT ON [WH1].[SrvPr_PRINTLOG] TO [public];
GO

IF EXISTS (SELECT * 
    FROM INFORMATION_SCHEMA.TABLES 
   WHERE TABLE_SCHEMA = 'WH2' AND 
		 TABLE_NAME = 'SrvPr_PRINTLOG' )
DROP TABLE [WH2].[SrvPr_PRINTLOG]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [WH2].[SrvPr_PRINTLOG](
	[SERIALKEY] [int] IDENTITY(1,1) NOT NULL,
	[REPORTNAME] [varchar](100) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[DOCNUMBER] [varchar](100) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[ORIGINAL] [bit] NOT NULL,
	[PRINTAMOUNT] [int] NOT NULL,
	[PRINTFORMAT] [int] NOT NULL,  --0 для печати,1 для PDF, 2 для XLS,
	[FORCEDCOPY] [bit] NOT NULL,
	[ADDWHO] [varchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[ADDDATE] [datetime] NULL CONSTRAINT [DF_SrvPr_PRINTLOG_ADDDATE]  DEFAULT (getdate()),
	[EDITWHO] [varchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[EDITDATE] [datetime] NULL CONSTRAINT [DF_SrvPr_PRINTLOG_EDITDATE]  DEFAULT (getdate())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
CREATE UNIQUE CLUSTERED INDEX [PK_SrvPr_PRINTLOG] ON [WH2].[SrvPr_PRINTLOG] 
(
	[SERIALKEY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SrvPr_PRINTLOG] ON [WH2].[SrvPr_PRINTLOG] 
(
	[REPORTNAME] ASC,
	[DOCNUMBER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
GRANT SELECT ON [WH2].[SrvPr_PRINTLOG] TO [public];
GRANT INSERT ON [WH2].[SrvPr_PRINTLOG] TO [public];
GO
